In [2]:
import pandas as pd
import numpy as np

In [6]:
file_data = 'VideoGamesSales.csv'
df = pd.read_csv (file_data, sep=',')
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

#Criticscore - Aggregate score compiled by Metacritic staff Criticcount - The number of critics used in coming up with the Criticscore Userscore - Score by Metacritic's subscribers
#Usercount - Number of users who gave the userscore
#Developer - Party responsible for creating the game
#Rating - The ESRB ratings

*Este dataset nos muestra una lista de videojuegos, junto con su plataforma, sus desarrolladores y las ventas que tuvo, tanto por zona geografica y globalmente.
Tambien nos muestra un puntaje basado en las criticas de sus usuarios, y la cantidad de usuarios que han probado el juego.
Con este dataset podriamos hacer un analisis para saber cuales son los generos que la gente de cada region prefiere o cuales son los desarrolladores favoritos de cada region. Tambien podriamos saber si hay preferencias con respecto a los desarrolladores y/o plataformas por region, y saber cuales son los juegos mas vendidos.*

In [7]:
df.describe

<bound method NDFrame.describe of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count  User_Score  User_Count Developer Rating
0              76.0          51.0         8.0       322.0  Nintendo      E
1               NaN           NaN         NaN         NaN       NaN    NaN
2              82.0          73.0         8.3       709.0  Nintendo      E
3              80.0          73.0         8.0       192.0  Nintendo      E
4               NaN           NaN         NaN         NaN       NaN    NaN
...             ...           ...         ...         ...       ...    ...
16714           NaN           NaN         NaN         NaN       NaN    NaN
16715           NaN           NaN         NaN         NaN       NaN    NaN
16716           NaN           NaN         NaN         NaN       NaN    NaN
16717           NaN           NaN         NaN         NaN       NaN    NaN
16718           NaN           NaN         NaN         NaN       NaN    NaN

[16719 rows x 16 columns]>

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

In [22]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [8]:
values = df['Global_Sales'].to_numpy()

In [10]:
values.min()

0.01

In [12]:
values.max()

82.53

In [13]:
values.mean()

0.5335426759973684

In [14]:
values.std()

1.5478888313308492

**# Dataset #2 Cost of living**

In [19]:
file_data2 = 'costofliving.csv'
df2 = pd.read_csv (file_data2, sep=',')
df2

,Unnamed: 0,city,country,x1,x2,x3,x4,x5,x6,x7,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,4869,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4870,4870,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4871,4871,Ixtapa Zihuatanejo,Mexico,5.19,31.13,12.97,0.99,NaN,1.82,0.62,...,103.78,415.11,259.44,518.89,415.11,NaN,NaN,NaN,NaN,0
4872,4872,Iqaluit,Canada,29.78,74.61,13.77,6.70,8.93,3.72,3.54,...,NaN,NaN,NaN,2978.11,2978.11,NaN,NaN,NaN,6.53,0
4873,4873,Neiafu,Tonga,NaN,29.53,10.55,10.55,NaN,NaN,2.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

city 	Name of the city
country 	Name of the country
x1 	Meal, Inexpensive Restaurant (USD)
x2 	Meal for 2 People, Mid-range Restaurant, Three-course (USD)
x3 	McMeal at McDonalds (or Equivalent Combo Meal) (USD)
x4 	Domestic Beer (0.5 liter draught, in restaurants) (USD)
x5 	Imported Beer (0.33 liter bottle, in restaurants) (USD)
x6 	Cappuccino (regular, in restaurants) (USD)
x7 	Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)
x8 	Water (0.33 liter bottle, in restaurants) (USD)
x9 	Milk (regular), (1 liter) (USD)
x10 	Loaf of Fresh White Bread (500g) (USD)
x11 	Rice (white), (1kg) (USD)
x12 	Eggs (regular) (12) (USD)
x13 	Local Cheese (1kg) (USD)
x14 	Chicken Fillets (1kg) (USD)
x15 	Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)
x16 	Apples (1kg) (USD)
x17 	Banana (1kg) (USD)
x18 	Oranges (1kg) (USD)
x19 	Tomato (1kg) (USD)
x20 	Potato (1kg) (USD)
x21 	Onion (1kg) (USD)
x22 	Lettuce (1 head) (USD)
x23 	Water (1.5 liter bottle, at the market) (USD)
x24 	Bottle of Wine (Mid-Range, at the market) (USD)
x25 	Domestic Beer (0.5 liter bottle, at the market) (USD)
x26 	Imported Beer (0.33 liter bottle, at the market) (USD)
x27 	Cigarettes 20 Pack (Marlboro) (USD)
x28 	One-way Ticket (Local Transport) (USD)
x29 	Monthly Pass (Regular Price) (USD)
x30 	Taxi Start (Normal Tariff) (USD)
x31 	Taxi 1km (Normal Tariff) (USD)
x32 	Taxi 1hour Waiting (Normal Tariff) (USD)
x33 	Gasoline (1 liter) (USD)
x34 	Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)
x35 	Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)
x36 	Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)
x37 	1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)
x38 	Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)
x39 	Fitness Club, Monthly Fee for 1 Adult (USD)
x40 	Tennis Court Rent (1 Hour on Weekend) (USD)
x41 	Cinema, International Release, 1 Seat (USD)
x42 	Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)
x43 	International Primary School, Yearly for 1 Child (USD)
x44 	1 Pair of Jeans (Levis 501 Or Similar) (USD)
x45 	1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)
x46 	1 Pair of Nike Running Shoes (Mid-Range) (USD)
x47 	1 Pair of Men Leather Business Shoes (USD)
x48 	Apartment (1 bedroom) in City Centre (USD)
x49 	Apartment (1 bedroom) Outside of Centre (USD)
x50 	Apartment (3 bedrooms) in City Centre (USD)
x51 	Apartment (3 bedrooms) Outside of Centre (USD)
x52 	Price per Square Meter to Buy Apartment in City Centre (USD)
x53 	Price per Square Meter to Buy Apartment Outside of Centre (USD)
x54 	Average Monthly Net Salary (After Tax) (USD)
x55 	Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate
data_quality 	0 if Numbeo considers that more contributors are needed to increase data quality, else 1

*Este dataset nos muestra una comparacion de los costos de vida en diferentes ciudades de diferentes paises.
Las variables nos muestran, en USD, cuales son los costos de diferentes actividades o servicios, en promedio, de la gente de cada ciudad.
Con estos datos podriamos usar la variable 'x54', que nos muestra cual es el salario promedio de la gente de dicha ciudad, para poder ver que porcentaje de su sueldo se necesita para cubrir dichas actividades. De esa manera podriamos definir cuales son las ciudades en donde el salario rinde mas, y en cuales menos.

In [20]:
df2.describe

<bound method NDFrame.describe of       Unnamed: 0                city      country     x1     x2     x3     x4  \
0              0               Delhi        India   4.90  22.04   4.28   1.84
1              1            Shanghai        China   5.59  40.51   5.59   1.12
2              2             Jakarta    Indonesia   2.54  22.25   3.50   2.02
3              3              Manila  Philippines   3.54  27.40   3.54   1.24
4              4               Seoul  South Korea   7.16  52.77   6.03   3.02
...          ...                 ...          ...    ...    ...    ...    ...
4869        4869        Peterborough    Australia    NaN    NaN    NaN    NaN
4870        4870          Georgetown    Australia    NaN    NaN    NaN    NaN
4871        4871  Ixtapa Zihuatanejo       Mexico   5.19  31.13  12.97   0.99
4872        4872             Iqaluit       Canada  29.78  74.61  13.77   6.70
4873        4873              Neiafu        Tonga    NaN  29.53  10.55  10.55

        x5    x6    x7  ...     x47      x48     x49      x50      x51  \
0     3.67  1.78  0.48  ...   36.26   223.87  133.38   596.16   325.82
1     4.19  3.96  0.52  ...  121.19  1080.07  564.30  2972.57  1532.23
2     3.18  2.19  0.59  ...   80.32   482.85  270.15  1117.69   584.37
3     1.90  2.91  0.93  ...   61.82   559.52  281.78  1754.40   684.81
4     4.52  3.86  1.46  ...  108.30   809.83  583.60  2621.05  1683.74
...    ...   ...   ...  ...     ...      ...     ...      ...      ...
4869   NaN   NaN   NaN  ...     NaN      NaN     NaN      NaN      NaN
4870   NaN   NaN   NaN  ...     NaN      NaN     NaN      NaN      NaN
4871   NaN  1.82  0.62  ...  103.78   415.11  259.44   518.89   415.11
4872  8.93  3.72  3.54  ...     NaN      NaN     NaN  2978.11  2978.11
4873   NaN   NaN  2.11  ...     NaN      NaN     NaN      NaN      NaN

           x52       x53      x54   x55  data_quality
0      2619.46   1068.90   586.35  7.96             1
1     17333.09   9174.88  1382.83  5.01             1
2      2694.05   1269.44   483.19  9.15             1
3      3536.04   2596.44   419.02  7.80             1
4     21847.94  10832.90  2672.23  3.47             1
...        ...       ...      ...   ...           ...
4869       NaN       NaN      NaN   NaN             0
4870       NaN       NaN      NaN   NaN             0
4871       NaN       NaN      NaN   NaN             0
4872       NaN       NaN      NaN  6.53             0
4873       NaN       NaN      NaN   NaN             0

[4874 rows x 59 columns]>

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4874 non-null   int64
 1   city          4874 non-null   object
 2   country       4874 non-null   object
 3   x1            4449 non-null   float64
 4   x2            4432 non-null   float64
 5   x3            4552 non-null   float64
 6   x4            4385 non-null   float64
 7   x5            4445 non-null   float64
 8   x6            4540 non-null   float64
 9   x7            4438 non-null   float64
 10  x8            4571 non-null   float64
 11  x9            4494 non-null   float64
 12  x10           4457 non-null   float64
 13  x11           4538 non-null   float64
 14  x12           4369 non-null   float64
 15  x13           4393 non-null   float64
 16  x14           4318 non-null   float64
 17  x15           4312 non-null   float64
 18  x16           4509 non-null   float64
 19  x17           4499 non-null   float64
 20  x18           4439 non-null   float64
 21  x19           4410 non-null   float64
 22  x20           4444 non-null   float64
 23  x21           4447 non-null   float64
 24  x22           4379 non-null   float64
 25  x23           4490 non-null   float64
 26  x24           4414 non-null   float64
 27  x25           4149 non-null   float64
 28  x26           4223 non-null   float64
 29  x27           4389 non-null   float64
 30  x28           3401 non-null   float64
 31  x29           2750 non-null   float64
 32  x30           4013 non-null   float64
 33  x31           3869 non-null   float64
 34  x32           3506 non-null   float64
 35  x33           4296 non-null   float64
 36  x34           3839 non-null   float64
 37  x35           3904 non-null   float64
 38  x36           4400 non-null   float64
 39  x37           3702 non-null   float64
 40  x38           4534 non-null   float64
 41  x39           3523 non-null   float64
 42  x40           2508 non-null   float64
 43  x41           4405 non-null   float64
 44  x42           3761 non-null   float64
 45  x43           3230 non-null   float64
 46  x44           4413 non-null   float64
 47  x45           4273 non-null   float64
 48  x46           4388 non-null   float64
 49  x47           4337 non-null   float64
 50  x48           3533 non-null   float64
 51  x49           3465 non-null   float64
 52  x50           3418 non-null   float64
 53  x51           3385 non-null   float64
 54  x52           2681 non-null   float64
 55  x53           2609 non-null   float64
 56  x54           3459 non-null   float64
 57  x55           3894 non-null   float64
 58  data_quality  4874 non-null   int64
dtypes: float64(55), int64(2), object(2)
memory usage: 2.2+ MB

In [25]:
df2.isnull().sum()

Unnamed: 0         0
city               0
country            0
x1               425
x2               442
x3               322
x4               489
x5               429
x6               334
x7               436
x8               303
x9               380
x10              417
x11              336
x12              505
x13              481
x14              556
x15              562
x16              365
x17              375
x18              435
x19              464
x20              430
x21              427
x22              495
x23              384
x24              460
x25              725
x26              651
x27              485
x28             1473
x29             2124
x30              861
x31             1005
x32             1368
x33              578
x34             1035
x35              970
x36              474
x37             1172
x38              340
x39             1351
x40             2366
x41              469
x42             1113
x43             1644
x44              461
x45              601
x46              486
x47              537
x48             1341
x49             1409
x50             1456
x51             1489
x52             2193
x53             2265
x54             1415
x55              980
data_quality       0
dtype: int64

In [34]:
df2.fillna(df2.mean(), inplace=True)

C:\Users\emi\AppData\Local\Temp\ipykernel_924\4105179324.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.fillna(df2.mean(), inplace=True)

In [31]:
values1 = df2['x54'].to_numpy()

In [32]:
values1.mean()

1817.0335010118533

In [33]:
values1.max()

12681.26

**# Dataset #3 Chip dataset**

In [35]:
file_data3 = 'chipdataset.csv'
df3 = pd.read_csv (file_data3, sep=',')
df3

,Unnamed: 0,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,0,AMD Athlon 64 3500+,CPU,2007-02-20,65.0,45.0,77.0,122.0,2200.0,Unknown,AMD,NaN,NaN,NaN
1,1,AMD Athlon 200GE,CPU,2018-09-06,14.0,35.0,192.0,4800.0,3200.0,Unknown,AMD,NaN,NaN,NaN
2,2,Intel Core i5-1145G7,CPU,2020-09-02,10.0,28.0,NaN,NaN,2600.0,Intel,Intel,NaN,NaN,NaN
3,3,Intel Xeon E5-2603 v2,CPU,2013-09-01,22.0,80.0,160.0,1400.0,1800.0,Intel,Intel,NaN,NaN,NaN
4,4,AMD Phenom II X4 980 BE,CPU,2011-05-03,45.0,125.0,258.0,758.0,3700.0,Unknown,AMD,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4849,4849,NVIDIA Quadro 3000M,GPU,2011-02-22,40.0,75.0,332.0,1950.0,450.0,TSMC,NVIDIA,NaN,432.0,36.0
4850,4850,Intel GMA 950,GPU,2005-06-01,90.0,7.0,NaN,NaN,250.0,Intel,Intel,NaN,NaN,NaN
4851,4851,NVIDIA GeForce GT 320M,GPU,2010-03-03,40.0,23.0,100.0,486.0,500.0,TSMC,NVIDIA,NaN,52.8,NaN
4852,4852,NVIDIA GeForce FX 5200,GPU,2003-03-06,150.0,NaN,65.0,29.0,250.0,TSMC,NVIDIA,NaN,NaN,NaN
4853,4853,NVIDIA GeForce 9300 SE,GPU,2008-06-01,65.0,NaN,86.0,210.0,540.0,TSMC,NVIDIA,NaN,20.8,NaN

*Este dataset nos muestra la performance de diferentes CPUs y GPUs.
Con este dataset podriamos analizar como los componentes se fueron desarrollando para obtener mejores performances. Se podria utilizar la fecha de lanzamiento para poder ver como fueron cambiando su tamaño, el tamaño de sus transistores y su frecuencia maxima, para mejorar su rendimiento.

In [36]:
df3.info

<bound method DataFrame.info of       Unnamed: 0                  Product Type Release Date  \
0              0      AMD Athlon 64 3500+  CPU   2007-02-20
1              1         AMD Athlon 200GE  CPU   2018-09-06
2              2     Intel Core i5-1145G7  CPU   2020-09-02
3              3    Intel Xeon E5-2603 v2  CPU   2013-09-01
4              4  AMD Phenom II X4 980 BE  CPU   2011-05-03
...          ...                      ...  ...          ...
4849        4849      NVIDIA Quadro 3000M  GPU   2011-02-22
4850        4850            Intel GMA 950  GPU   2005-06-01
4851        4851   NVIDIA GeForce GT 320M  GPU   2010-03-03
4852        4852   NVIDIA GeForce FX 5200  GPU   2003-03-06
4853        4853   NVIDIA GeForce 9300 SE  GPU   2008-06-01

      Process Size (nm)  TDP (W)  Die Size (mm^2)  Transistors (million)  \
0                  65.0     45.0             77.0                  122.0
1                  14.0     35.0            192.0                 4800.0
2                  10.0     28.0              NaN                    NaN
3                  22.0     80.0            160.0                 1400.0
4                  45.0    125.0            258.0                  758.0
...                 ...      ...              ...                    ...
4849               40.0     75.0            332.0                 1950.0
4850               90.0      7.0              NaN                    NaN
4851               40.0     23.0            100.0                  486.0
4852              150.0      NaN             65.0                   29.0
4853               65.0      NaN             86.0                  210.0

      Freq (MHz)  Foundry  Vendor  FP16 GFLOPS  FP32 GFLOPS  FP64 GFLOPS
0         2200.0  Unknown     AMD          NaN          NaN          NaN
1         3200.0  Unknown     AMD          NaN          NaN          NaN
2         2600.0    Intel   Intel          NaN          NaN          NaN
3         1800.0    Intel   Intel          NaN          NaN          NaN
4         3700.0  Unknown     AMD          NaN          NaN          NaN
...          ...      ...     ...          ...          ...          ...
4849       450.0     TSMC  NVIDIA          NaN        432.0         36.0
4850       250.0    Intel   Intel          NaN          NaN          NaN
4851       500.0     TSMC  NVIDIA          NaN         52.8          NaN
4852       250.0     TSMC  NVIDIA          NaN          NaN          NaN
4853       540.0     TSMC  NVIDIA          NaN         20.8          NaN

[4854 rows x 14 columns]>

In [37]:
df3.describe

<bound method NDFrame.describe of       Unnamed: 0                  Product Type Release Date  \
0              0      AMD Athlon 64 3500+  CPU   2007-02-20
1              1         AMD Athlon 200GE  CPU   2018-09-06
2              2     Intel Core i5-1145G7  CPU   2020-09-02
3              3    Intel Xeon E5-2603 v2  CPU   2013-09-01
4              4  AMD Phenom II X4 980 BE  CPU   2011-05-03
...          ...                      ...  ...          ...
4849        4849      NVIDIA Quadro 3000M  GPU   2011-02-22
4850        4850            Intel GMA 950  GPU   2005-06-01
4851        4851   NVIDIA GeForce GT 320M  GPU   2010-03-03
4852        4852   NVIDIA GeForce FX 5200  GPU   2003-03-06
4853        4853   NVIDIA GeForce 9300 SE  GPU   2008-06-01

      Process Size (nm)  TDP (W)  Die Size (mm^2)  Transistors (million)  \
0                  65.0     45.0             77.0                  122.0
1                  14.0     35.0            192.0                 4800.0
2                  10.0     28.0              NaN                    NaN
3                  22.0     80.0            160.0                 1400.0
4                  45.0    125.0            258.0                  758.0
...                 ...      ...              ...                    ...
4849               40.0     75.0            332.0                 1950.0
4850               90.0      7.0              NaN                    NaN
4851               40.0     23.0            100.0                  486.0
4852              150.0      NaN             65.0                   29.0
4853               65.0      NaN             86.0                  210.0

      Freq (MHz)  Foundry  Vendor  FP16 GFLOPS  FP32 GFLOPS  FP64 GFLOPS
0         2200.0  Unknown     AMD          NaN          NaN          NaN
1         3200.0  Unknown     AMD          NaN          NaN          NaN
2         2600.0    Intel   Intel          NaN          NaN          NaN
3         1800.0    Intel   Intel          NaN          NaN          NaN
4         3700.0  Unknown     AMD          NaN          NaN          NaN
...          ...      ...     ...          ...          ...          ...
4849       450.0     TSMC  NVIDIA          NaN        432.0         36.0
4850       250.0    Intel   Intel          NaN          NaN          NaN
4851       500.0     TSMC  NVIDIA          NaN         52.8          NaN
4852       250.0     TSMC  NVIDIA          NaN          NaN          NaN
4853       540.0     TSMC  NVIDIA          NaN         20.8          NaN

[4854 rows x 14 columns]>

In [38]:
df3.isnull().sum()

Unnamed: 0                  0
Product                     0
Type                        0
Release Date                0
Process Size (nm)           9
TDP (W)                   626
Die Size (mm^2)           715
Transistors (million)     711
Freq (MHz)                  0
Foundry                     0
Vendor                      0
FP16 GFLOPS              4318
FP32 GFLOPS              2906
FP64 GFLOPS              3548
dtype: int64