In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import statsmodels.formula.api as sm
from sklearn.impute import SimpleImputer
#from sklearn.datasets import load_breast_cancer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
sns.set_style('whitegrid')

In [2]:
file_data = 'VideoGamesSales.csv'
df = pd.read_csv (file_data, sep=',')
df1 = df.fillna(0)
df2 = df1.set_index('Name')
df2.head()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Name,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,0,0
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,0,0

In [3]:
df2.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
count,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000
mean,1974.204019,0.263330,0.145025,0.077602,0.047332,0.533543,33.566003,12.829595,3.234589,73.648245
std,252.530614,0.813514,0.503283,0.308818,0.186710,1.547935,35.817714,18.679793,3.688653,386.695153
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000,0.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,0.000000,0.000000,0.000000,0.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,70.000000,21.000000,7.300000,20.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16719 entries, Wii Sports to Winning Post 8 2016
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         16719 non-null  object
 1   Year_of_Release  16719 non-null  float64
 2   Genre            16719 non-null  object
 3   Publisher        16719 non-null  object
 4   NA_Sales         16719 non-null  float64
 5   EU_Sales         16719 non-null  float64
 6   JP_Sales         16719 non-null  float64
 7   Other_Sales      16719 non-null  float64
 8   Global_Sales     16719 non-null  float64
 9   Critic_Score     16719 non-null  float64
 10  Critic_Count     16719 non-null  float64
 11  User_Score       16719 non-null  float64
 12  User_Count       16719 non-null  float64
 13  Developer        16719 non-null  object
 14  Rating           16719 non-null  object
dtypes: float64(10), object(5)
memory usage: 2.0+ MB

In [5]:
df3 = df2.drop(['Genre', 'Platform', 'Developer', 'Publisher', 'Rating'], axis=1)
df3

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
Name,,,,,,,,,,
Wii Sports,2006.0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0
Super Mario Bros.,1985.0,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0
Mario Kart Wii,2008.0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0
Wii Sports Resort,2009.0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0
Pokemon Red/Pokemon Blue,1996.0,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
Samurai Warriors: Sanada Maru,2016.0,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0
LMA Manager 2007,2006.0,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0
Haitaka no Psychedelica,2016.0,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0
Spirits & Spells,2003.0,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0
Winning Post 8 2016,2016.0,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16719 entries, Wii Sports to Winning Post 8 2016
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_of_Release  16719 non-null  float64
 1   NA_Sales         16719 non-null  float64
 2   EU_Sales         16719 non-null  float64
 3   JP_Sales         16719 non-null  float64
 4   Other_Sales      16719 non-null  float64
 5   Global_Sales     16719 non-null  float64
 6   Critic_Score     16719 non-null  float64
 7   Critic_Count     16719 non-null  float64
 8   User_Score       16719 non-null  float64
 9   User_Count       16719 non-null  float64
dtypes: float64(10)
memory usage: 1.4+ MB

In [7]:
bosdum = pd.DataFrame(df3, columns = df3.columns)
X = bosdum.drop('Global_Sales', 1)       
y = bosdum['Global_Sales']
bosdum.head()

C:\Users\emi\AppData\Local\Temp\ipykernel_3636\3140009698.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = bosdum.drop('Global_Sales', 1)

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
Name,,,,,,,,,,
Wii Sports,2006.0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0
Super Mario Bros.,1985.0,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0
Mario Kart Wii,2008.0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0
Wii Sports Resort,2009.0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0
Pokemon Red/Pokemon Blue,1996.0,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0

In [8]:
bosdum.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16719 entries, Wii Sports to Winning Post 8 2016
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_of_Release  16719 non-null  float64
 1   NA_Sales         16719 non-null  float64
 2   EU_Sales         16719 non-null  float64
 3   JP_Sales         16719 non-null  float64
 4   Other_Sales      16719 non-null  float64
 5   Global_Sales     16719 non-null  float64
 6   Critic_Score     16719 non-null  float64
 7   Critic_Count     16719 non-null  float64
 8   User_Score       16719 non-null  float64
 9   User_Count       16719 non-null  float64
dtypes: float64(10)
memory usage: 1.4+ MB

In [9]:
X

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Critic_Score,Critic_Count,User_Score,User_Count
Name,,,,,,,,,
Wii Sports,2006.0,41.36,28.96,3.77,8.45,76.0,51.0,8.0,322.0
Super Mario Bros.,1985.0,29.08,3.58,6.81,0.77,0.0,0.0,0.0,0.0
Mario Kart Wii,2008.0,15.68,12.76,3.79,3.29,82.0,73.0,8.3,709.0
Wii Sports Resort,2009.0,15.61,10.93,3.28,2.95,80.0,73.0,8.0,192.0
Pokemon Red/Pokemon Blue,1996.0,11.27,8.89,10.22,1.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
Samurai Warriors: Sanada Maru,2016.0,0.00,0.00,0.01,0.00,0.0,0.0,0.0,0.0
LMA Manager 2007,2006.0,0.00,0.01,0.00,0.00,0.0,0.0,0.0,0.0
Haitaka no Psychedelica,2016.0,0.00,0.00,0.01,0.00,0.0,0.0,0.0,0.0
Spirits & Spells,2003.0,0.01,0.00,0.00,0.00,0.0,0.0,0.0,0.0
Winning Post 8 2016,2016.0,0.00,0.00,0.01,0.00,0.0,0.0,0.0,0.0

In [10]:
y

Name
Wii Sports                       82.53
Super Mario Bros.                40.24
Mario Kart Wii                   35.52
Wii Sports Resort                32.77
Pokemon Red/Pokemon Blue         31.37
                                 ...
Samurai Warriors: Sanada Maru     0.01
LMA Manager 2007                  0.01
Haitaka no Psychedelica           0.01
Spirits & Spells                  0.01
Winning Post 8 2016               0.01
Name: Global_Sales, Length: 16719, dtype: float64

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16719 entries, Wii Sports to Winning Post 8 2016
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_of_Release  16719 non-null  float64
 1   NA_Sales         16719 non-null  float64
 2   EU_Sales         16719 non-null  float64
 3   JP_Sales         16719 non-null  float64
 4   Other_Sales      16719 non-null  float64
 5   Critic_Score     16719 non-null  float64
 6   Critic_Count     16719 non-null  float64
 7   User_Score       16719 non-null  float64
 8   User_Count       16719 non-null  float64
dtypes: float64(9)
memory usage: 1.8+ MB

In [12]:
y.info()

<class 'pandas.core.series.Series'>
Index: 16719 entries, Wii Sports to Winning Post 8 2016
Series name: Global_Sales
Non-Null Count  Dtype
--------------  -----
16719 non-null  float64
dtypes: float64(1)
memory usage: 777.3+ KB

In [13]:
pd.isna(X)

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Critic_Score,Critic_Count,User_Score,User_Count
Name,,,,,,,,,
Wii Sports,False,False,False,False,False,False,False,False,False
Super Mario Bros.,False,False,False,False,False,False,False,False,False
Mario Kart Wii,False,False,False,False,False,False,False,False,False
Wii Sports Resort,False,False,False,False,False,False,False,False,False
Pokemon Red/Pokemon Blue,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
Samurai Warriors: Sanada Maru,False,False,False,False,False,False,False,False,False
LMA Manager 2007,False,False,False,False,False,False,False,False,False
Haitaka no Psychedelica,False,False,False,False,False,False,False,False,False
Spirits & Spells,False,False,False,False,False,False,False,False,False
Winning Post 8 2016,False,False,False,False,False,False,False,False,False

In [14]:
import sys
import joblib
sys.modules['sklearn.externals.joblib'] = joblib

In [15]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression
# Sequential Forward Selection(sfs)
sfs = SFS(LinearRegression(),
          k_features=2,
          forward=True,
          floating=False,
          scoring = 'r2',
          cv = 0)

In [16]:
sfs.fit(X, y)
sfs.k_feature_names_

('NA_Sales', 'EU_Sales')

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

In [18]:
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 0.0028457574806638247

In [19]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,y_pred)
print(r2)

0.9999848316022436